@import url("https://fonts.googleapis.com/css2?family=Loved+by+the+King&family=Satisfy&display=swap");

:root {
  --envelope-x: 300px;
  --envelope-y: 200px;
  --envelope-bg: Moccasin;
  --envelope-shadow: Peru;
  --letter-x: 250px;
  --letter-y: calc(250px - 1rem - 10px);
  --letter-bg: AntiqueWhite;
  --letter-shadow: BurlyWood;
  --letter-text: #180d07;
  --letter-font: "Satisfy", serif;
  --letter-button-text: darkred;
  --heart-bg: darkred;
  --heart-text: white;
}

@media (min-width: 650px) {
  :root {
    --envelope-x: 600px;
    --envelope-y: 400px;
    --letter-x: 500px;
    --letter-y: calc(400px - 1rem - 10px);
  }
}
html {
  font-size: 20px;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: darkred;
  margin: 0;
}

.cssletter {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  -webkit-user-select: none;
  margin: 24dvh 0;
}

.envelope {
  position: relative;
  width: var(--envelope-x);
  height: var(--envelope-y);
  background: var(--envelope-bg);
  box-shadow: inset 0 0 30px -5px var(--envelope-shadow), 0 0 50vw 0 #540000;
}

.envelope::before {
  content: "";
  font-size: 5rem;
  color: white;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  mix-blend-mode: soft-light;
}

.envelope-flap {
  width: 100%;
  height: 71%;
  position: absolute;
  top: 0;
  z-index: 3;
  overflow: hidden;
  transition: 0.6s linear all;
  transform-origin: top;
  pointer-events: all;
}

.envelope-folds {
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.envelope-flap::before,
.envelope-left::before,
.envelope-right::before,
.envelope-bottom::before {
  content: "";
  transform: rotate(45deg);
  background: var(--envelope-bg);
  box-shadow: 0 0 30px -5px var(--envelope-shadow);
  width: 100%;
  aspect-ratio: 1;
  display: block;
  position: absolute;
  top: 60%;
}

.envelope-flap::before {
  border-radius: 5rem;
  bottom: 30px;
  border-radius: 5rem;
  top: auto;
}

@media (min-width: 650px) {
  .envelope-flap::before {
    bottom: 100px;
  }
}

.envelope-left::before {
  top: 10%;
  left: -65%;
}

.envelope-right::before {
  top: 10%;
  right: -65%;
}

.envelope-bottom::before {
  top: 60%;
  border-radius: 5rem;
}

.heart {
  z-index: 4;
  position: relative;
  box-shadow: none;
  border: none;
  width: 100px;
  aspect-ratio: 1;
  background: radial-gradient(circle at 60% 65%, var(--heart-bg) 64%, #0000 65%)
      top left/50% 50%,
    radial-gradient(circle at 40% 65%, var(--heart-bg) 64%, #0000 65%) top
      right/50% 50%,
    conic-gradient(from -45deg at 50% 85.5%, var(--heart-bg) 90deg, #0000 0)
      bottom/100% 50%;
  background-repeat: no-repeat;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

@media (min-width: 650px) {
  .heart {
    width: 150px;
  }
}

.heart::before {
  content: "";
  display: block;
  position: absolute;
  width: 70px;
  aspect-ratio: 1;
  background: radial-gradient(circle at 60% 65%, #ffffff26 64%, #0000 65%) top
      left/50% 50%,
    radial-gradient(circle at 40% 65%, #ffffff26 64%, #0000 65%) top right/50%
      50%,
    conic-gradient(from -45deg at 50% 85.5%, #ffffff26 90deg, #0000 0)
      bottom/100% 50%;
  background-repeat: no-repeat;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.3s ease all;
  z-index: -1;
}

@media (min-width: 650px) {
  .heart::before {
    width: 150px;
  }
}

.heart:hover,
.heart:active,
.heart:focus {
  transform: translate(-50%, -50%);
  background-color: transparent;
  color: var(--heart-text);
}

.heart:hover::before,
.heart:active::before,
.heart:focus::before {
  transform: translate(-50%, -50%) scale(0.8);
}

.heart-text {
  transform: translateY(-10px);
  display: block;
  color: var(--heart-text);
  font-size: 1rem;
  font-family: var(--letter-font);
}

.envelope.active * {
  pointer-events: none;
}

.envelope.active .envelope-flap {
  transform: rotateX(-180deg) translateY(0);
  perspective: 10px;
}

.envelope.active .envelope-flap::before {
  box-shadow: inset 0 0 30px -5px var(--envelope-shadow);
}

.envelope.active .heart {
  display: none;
}

.letter {
  z-index: 1000;
  box-sizing: border-box;

  font-family: var(--letter-font);
  font-size: 1.3rem;
  font-weight: lighter;
  text-align: justify;
  line-height: 1.1;

  background-color: var(--letter-bg);
  color: var(--letter-text);

  user-select: none;
  box-shadow: inset 0 0 20px -5px var(--letter-shadow);

  width: 50vw;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: skew(-1deg) translateY(4px) translate(-50%, -50%);

  overflow: auto;
  animation-name: openmsg;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-play-state: paused;
  animation-fill-mode: forwards;

  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

@media screen and (max-width: 650px) {
  .letter {
    width: 95vw;
    font-size: 1rem;
    transform: translate(-50%, -50%);
    animation-name: openmsg-smallscreen;
  }
  .heart-text {
    font-size: 0.8rem;
  }
}

@keyframes openmsg-smallscreen {
  0% {
    height: 0px;
    padding: 0px 20px;
  }
  100% {
    height: 95vh;
    padding: 1rem 1rem 1.25rem;
    box-shadow: 5px 5px 15px 5px #180d07;
  }
}

@keyframes openmsg {
  0% {
    height: 0px;
    padding: 0px 20px;
  }
  100% {
    height: 95vh;
    padding: 1rem 3rem 3rem 2.5rem;
    box-shadow: 5px 5px 15px 5px #180d07;
  }
}

.openNor {
  animation-direction: normal;
  animation-play-state: running;
}

.closeNor {
  animation-direction: reverse;
  animation-play-state: running;
}

.no-anim {
  animation: none;
}

.closed {
  height: 0px;
  padding: 0px 20px;
}

.bottom {
  bottom: 5px;
}

#scrollbar1::-webkit-scrollbar {
  width: 10px;
}

#scrollbar1::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
}

#scrollbar1::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #d55959;
}
